head
{
    margin: 0px;
    padding: 0px;
}

body
{
    background:rgb(136, 77, 0);
    margin: 0;
    padding: 10px 10px 0 0;
}

@media screen and (max-width: 650px)
{
    #main
    {
        margin-top: 150px;
    }
}

#bal
{
    width: 50%;
    float: left;
    text-align: center;
    margin-top: 50px;
}

#jobb
{
    width: 50%;
    float: right;
    margin-top: 50px;
}

@media screen and (max-width: 1055px)
{
    #bal
    {
        width: 100%;
        float: none;
        margin-top: 100px;
    }

    #jobb
    {
        float: none;
        width: 100%;
    }
}

#HubDynoBudapest
{
    width: 150px;
    height: auto;
}
#MaxxECU
{
    max-width: 225px;
    height: auto;
}

#bal3
{
    width: 25%;
    margin: 70px 0 0 0;
    padding: 0 0 0 5px;
    display: inline-block;
}

#leiras
{
    background:rgb(0, 66, 0);
    color: rgb(204, 119, 7);
    float: right;
    width: 70%;
    padding: 0 15px 10px 15px;
    font-size: 130%;
    margin-top: 80px;
}

#ecu
{
    float: right;
    max-width: 60%;
}

#line ul
{
    float: left;
    padding: 0 6.5%;
}

@media screen and (max-width: 1200px)
{
    #bal3
    {
        width: 100%;
        float: none;
        margin-top: 120px;
    }

    #bal3 li
    {
        display: inline;
    }

    #leiras
    {
        float: none;
        width: 100%;
        overflow: hidden;
    }
}

#Bemutatkozas
{
    background:rgb(0, 66, 0);
    color: rgb(204, 119, 7);
    padding: 0px 15px 10px;
    font-size: 110%;
    margin: 50px auto 5px auto;
    width: 90%;
}

#ME
{
    background:rgb(0, 66, 0);
    color: rgb(204, 119, 7);
    padding: 0px 15px 10px;
    width: 90%;
    margin: 0 auto 0 auto;
    font-size: 110%;
}

#kepek
{
    text-align: center;
}

#Felsokep
{
    width: 200px;
    height: 150px;
    margin: 0;
}

#Alsokep
{
    width: 200px;
    height: 150px;
    margin: 0;
}

#Video
{
    width: 90%;
    margin: 20px auto 0 auto;
    aspect-ratio: 16 / 9;
    border: 0px;
}

#menu
{
    position: absolute; right: 10px;
    margin-left: 65px;
}

#menu li
{
    padding: 0;
    display: inline;
    line-height: 50px;
    margin: 0;

}
#menu li a:link
{
    color: rgb(245, 142, 8);
}

#menu li a:visited
{
    color: rgb(245, 142, 8);
}

#menu li a
{
    background:rgb(0, 66, 0);
    color: white;
    margin: 0;
    padding: 10px;
    font-size: 200%;
    text-decoration: none;
    white-space: nowrap;
}

@media screen and (max-width: 1055px)
{
    #menu li a
    {
        font-size: 150%;
    }
}

#social
{
    margin: 40px 20px;
    padding: 0;
    float: right;
}

#social th a
{

    margin: 0;
    padding: 10px;
    font-size: 250%;
}

#social th:nth-child(1) 
{
    background-image: url("Facebook.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
}

#social th:nth-child(2) 
{
    background:rgb(0, 66, 0);
}

#social th:nth-child(3) 
{
    background:rgb(0, 66, 0);
}

#social th:nth-child(4) 
{
    background-image: url("Instagram.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 45px;
}

.images
{
    width: 140px;
    display: inline;
    padding: 0 0 0 0;
}

.teszt a
{
    font-size: 200%;
    position: relative; bottom: 30px;
    color:white;
}

.teszt
{
    list-style-type: none;
    padding: 0 0 0 0;
}

#felso2
{
    background:rgb(0, 66, 0);
    color: rgb(204, 119, 7);
    padding: 0 15px 10px 15px;
    font-size: 130%;
    margin: 20px 0 0 10px;
}

#also2
{
    background:rgb(0, 66, 0);
    color: rgb(204, 119, 7);
    padding: 0 15px 10px 15px;
    font-size: 130%;
    margin: 10px 0 10px 10px;
}

#kep1
{
    width: 300px;
    float: none;
    margin: 25px 100px;
}

#kep2
{
    width: 300px;
    float: none;
    margin: 20px 100px;
}

#tabla
{
    background:rgb(0, 66, 0);
    color: rgb(204, 119, 7);
    max-width: 85%;;
    text-align: left;
    display: block;
    font-size: 150%;
    margin: 0 auto;
}

.ikon
{
    height: 20px;
    width: 20px;
    column-width: auto;
}

#tabla th:nth-child(1) 
{
    width: 5%;
    text-align: center;
}

#terkep
{
    max-width: 85%;
}

#kerdese
{
    color:white;
    font-size: 150%;
}

#jart
{
    color:white;
    font-size: 150%;
}

#email
{
    color:white;
    font-size: 150%;
}

#kisbal
{
    float: left;
    text-align: center;
}

#kisjobb
{
    float: left;
    text-align: center;
}

@media screen and (max-width: 650px)
{
    #kisjobb, #kisbal
    {
        float: none;
    }
}

#hol
{
    color:white;
    font-size: 150%;
}

#hol label
{
    font-size: 150%;
    line-height: 140%;
}


#muvelet .gomb
{
    background-color: rgb(0, 66, 0);
    color:white;
    font-size: 200%;
    cursor: pointer;
    margin: 0 0 0 30px;
}

#szoveg
{
    font-size: 120%;
    margin: 7.5% 2.5% 0 2.5%;
    width: 95%;
    height: 80%;
}

a:link
{
    color: rgb(204, 119, 7);
}

a:visited 
{
    color: rgb(148, 85, 2);
}

a:hover
{
    color: rgb(245, 142, 8);
}

a:active
{
    color: white;
}

.kipozicional a
{
    position:absolute;
    left:-9999px;
}

.kipozicional a:focus
{
    position:static;
    color: white;
}

a#nagybetu
{
    background-image: url("fekete-feher.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    color: white;
    width: 75px;
    height: 75px;
    display: block;
    position: absolute;
    margin: 5px;
}

a#normalbetu
{
    display: none;
}

li a:hover
{
    color: white;
}